.clients {
    padding: 100px 0;
    border-bottom: 1px solid #dce1e4;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    text-align: center;
    margin-bottom: 70px;
}

.subtitle {
    font-size: 14px;
    font-weight: 500;
    color: var(--accent-red);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: var(--text-primary);
    line-height: 1.2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
    gap: 30px;
}

.card {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    padding: 50px 30px;
    border-radius: 6px;
    transition: all 0.4s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    background: linear-gradient(145deg, #ff014f, #d11414);
    transform: translateY(-10px);
}

.card:hover .clientName,
.card:hover .clientCategory {
    color: #ffffff;
}

.clientName {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 5px;
    transition: color 0.4s ease;
}

.clientCategory {
    font-size: 14px;
    color: var(--text-secondary);
    text-transform: uppercase;
    transition: color 0.4s ease;
}

@media (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 40px;
    }
}